* {
  margin: 0;
}

.NavBar {
  background-color: gray;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.Brand {
  margin: auto 10px;
  font-size: medium;
  color: white;
}

.SearchInput {
  width: 30%;
  height: 30px;
  margin: auto 0;
}

.SearchSelect {
  width: 10%;
  height: 36px;
  margin: auto 0;
}